# Make sure LF is used for line endings in text files that are
# used for comparing expected results in unit tests
src/resource_pack_file/json_file/*.json				eol=lf
src/resource_pack_file/properties_file/*.properties	eol=lf
src/resource_pack_file/shader_file/*.fsh			eol=lf
