[workspace]
members = ["packages/*"]
resolver = "2"

[patch.crates-io]
# Use a newer commit of oxipng that has a PR that adds a more performant raw image API merged.
# Related PR: https://github.com/shssoichiro/oxipng/pull/482
oxipng = { git = "https://github.com/shssoichiro/oxipng", rev = "96122fa4" }

# Use our fork of glsl-lang that allows it to parse #moj_import directives
glsl-lang = { git = "https://github.com/ComunidadAylas/glsl-lang" }
glsl-lang-lexer = { git = "https://github.com/ComunidadAylas/glsl-lang" }
glsl-lang-pp = { git = "https://github.com/ComunidadAylas/glsl-lang" }
glsl-lang-types = { git = "https://github.com/ComunidadAylas/glsl-lang" }

# Use our fork of mmap, pulled by development dependencies for benchmarking, to fix its
# dependency on unmaintained crates and reduce duplicate dependency versions. Some of
# the changes were authored by jbreitbart.
# Related PR: https://github.com/rbranson/rust-mmap/pull/13
mmap = { git = "https://github.com/ComunidadAylas/rust-mmap" }

# Use our fork of chrono to drop a dependency on android-tzdata when not used.
# Related PR: https://github.com/chronotope/chrono/pull/1220
chrono = { git = "https://github.com/ComunidadAylas/chrono", branch = "0.4.x" }

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
strip = "symbols"

[profile.bench]
inherits = "release"
debug = true
strip = "none"
