[package]
name = "packsquash_cli"
description = "Minecraft resource and data pack optimizer (CLI)"
version = "0.4.0"
authors = ["Alejandro \"AlexTMjugador\" González"]
repository = "https://github.com/ComunidadAylas/PackSquash"
license = "AGPL-3.0-or-later"
readme = "../../README.md"
publish = false
edition = "2021"

[dependencies]
packsquash = { path = "../packsquash", version = "0.4.0" }

getopts = "0.2.21"
toml = { version = "0.8.19", default-features = false, features = ["parse"] }

tokio = { version = "1.41.1", default-features = false, features = ["time"] }

serde_path_to_error = "0.1.16"

log = "0.4.22"
env_logger = { version = "0.11.5", default-features = false, features = [
  "color",
] }
anstyle = "1.0.10"

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", default-features = false, features = [
  "consoleapi",
] }
winapi-util = "0.1.9"

[target.'cfg(all(target_os = "linux", target_env = "musl"))'.dependencies]
# The mimalloc C malloc override feature is troublesome on macOS and Windows, but
# luckily the Linux musl C library should support this well. See:
# https://github.com/purpleprotocol/mimalloc_rust/issues/41
# We are interested in overriding malloc because we depend on C libraries, and doing
# so buys us a safety net against mismatching memory managed by different allocators,
# in addition to keep binary sizes down
mimalloc = { version = "0.1.43", default-features = false, features = [
  "override",
] }

[target.'cfg(windows)'.build-dependencies]
winresource = "0.1.17"

[[bin]]
name = "packsquash"
bench = false

[package.metadata.deb]
name = "packsquash"
maintainer = "Alejandro González <me@alegon.dev>"
copyright = "PackSquash developers"
license-file = ["../../LICENSE", "0"]
extended-description-file = "target/debian/extended_package_description.txt"
assets = [
  [
    "target/release/packsquash",
    "usr/bin/packsquash",
    "755",
  ],
  [
    "../../README.md",
    "usr/share/doc/packsquash/README.md",
    "644",
  ],
]
section = "utils"
# For each release with the same version number (shouldn't be too many),
# increment this, and change APT repo action
revision = "1"

[package.metadata.winresource]
ProductName = "PackSquash"
CompanyName = "Comunidad Aylas"
OriginalFilename = "packsquash.exe"
InternalName = "packsquash.exe"

[lints]
workspace = true
