[package]
name = "packsquash_cli"
description = "Minecraft resource and data pack optimizer (CLI)"
version = "0.3.1"
authors = ["Alejandro \"AlexTMjugador\" González"]
repository = "https://github.com/ComunidadAylas/PackSquash"
license = "AGPL-3.0-or-later"
readme = "../../README.md"
publish = false
edition = "2021"

[dependencies]
packsquash = { path = "../packsquash", version = "0.3.1" }

getopts = "0.2.21"
toml = "0.5.10"

tokio = { version = "1.24.1", default-features = false }

color-backtrace = { version = "0.5.1", default-features = false, optional = true }

serde_path_to_error = "0.1.9"

atty = "0.2.14"

log = "0.4.17"
env_logger = { version = "0.10.0", default-features = false, features = ["color"] }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", default-features = false, features = ["consoleapi"] }
winapi-util = "0.1.5"

[build-dependencies]
git2 = { version = "0.15.0", default-features = false }
time = { version = "0.3.17", default-features = false, features = ["std"] }

[target.'cfg(windows)'.build-dependencies]
# Fix winres not working on the latest Rust toolchain.
# Related PR: https://github.com/mxre/winres/pull/41
winres = { version = "0.1.11", git = "https://github.com/Nilstrieb/winres", rev = "c839134b" }

[features]
# Support pretty panic messages by default
default = ["color-backtrace"]

[[bin]]
name = "packsquash"
bench = false

[package.metadata.deb]
name = "packsquash"
maintainer = "Alejandro González <AlexTMjugador@users.noreply.github.com>"
copyright = "PackSquash developers"
license-file = ["../../LICENSE", "0"]
extended-description-file = "target/debian/extended_package_description.txt"
assets = [
	["target/release/packsquash", "usr/bin/", "755"],
	["../../README.md", "usr/share/doc/packsquash/README.md", "644"]
]
section = "utils"
# For each release with the same version number (shouldn't be too many),
# increment this, and change APT repo action
revision = "1"

[package.metadata.winres]
ProductName = "PackSquash"
CompanyName = "Comunidad Aylas"
OriginalFilename = "packsquash.exe"
InternalName = "packsquash.exe"
