beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
filelock==3.8.0
gdown==4.5.2
idna==3.4
PySocks==1.7.1
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.1
urllib3==1.26.12
