beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.10
filelock==3.4.2
gdown==4.2.0
idna==3.3
PySocks==1.7.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.62.3
urllib3==1.26.10
