cargo-features = ["different-binary-name"]

[package]
name = "packsquash-cli"
description = "Minecraft resource and data pack optimizer (CLI)"
version = "0.3.1"
authors = ["Alejandro \"AlexTMjugador\" González"]
repository = "https://github.com/ComunidadAylas/PackSquash"
license = "AGPL-3.0-or-later"
readme = "../../README.md"
publish = false
edition = "2021"

[dependencies]
packsquash = { path = "../packsquash", version = "0.3.1" }

getopts = "0.2.21"
toml = "0.5.8"

tokio = { version = "1.15.0", default-features = false }

color-backtrace = { version = "0.5.1", default-features = false, optional = true }
crossterm = { version = "0.22.1", optional = true }

[build-dependencies]
vergen = { version = "6.0.1", default-features = false, features = ["cargo", "git"] }
time = { version = "0.3.6", default-features = false, features = ["std"] }

[features]
# Support fancy terminal interaction and panic messages by default
default = ["crossterm", "color-backtrace"]

[[bin]]
name = "packsquash-cli"
filename = "packsquash"

[package.metadata.deb]
name = "packsquash"
maintainer = "Alejandro González <AlexTMjugador@users.noreply.github.com>"
copyright = "PackSquash developers"
license-file = ["../../LICENSE", "0"]
extended-description-file = "target/debian/extended_package_description.txt"
assets = [
	["target/release/packsquash", "usr/bin/", "755"],
	["../../README.md", "usr/share/doc/packsquash/README.md", "644"]
]
section = "utils"
# For each release with the same version number (shouldn't be too many),
# increment this, and change APT repo action
revision = "0"
depends = """
$auto, \
gstreamer1.0-plugins-bad (>= 1.16.2), gstreamer1.0-plugins-base (>= 1.16.2), gstreamer1.0-plugins-good (>= 1.16.2)"""
