# Placeholder Cargo configuration file for PackSquash.
# Reference: https://doc.rust-lang.org/cargo/reference/config.html
# This file is primarily useful for specifying custom rustflags.

[target.aarch64-unknown-linux-gnu]
linker = 'aarch64-linux-gnu-gcc'
runner = 'qemu-aarch64'

[target.aarch64-unknown-linux-musl]
linker = 'aarch64-linux-musl-gcc'
